rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /public/images/{imageID} {
      allow read;
    }
    match /public/fonts/{fontID} {
      allow read;
    }
  }
}