@import "../../variable.scss";

.invite {
  padding-top: 1.5rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .readyText {
    font-family: $roboto-mono;
    font-weight: bold;
    font-size: 1.25em;
    color: #E9F3FF;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .userName {
    color: #E8C444;
  }

  .tagLine {
    font-family: $roboto-mono;
    font-size: 0.875em;
    color: #A0B9D6;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .link {
    font-family: $roboto-mono;
    font-size: 1em;
    color: #EA7B44;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .copyLink {
    font-size: 0.75em;
    color: #E9F3FF;

    &:hover {
      cursor: pointer;
    }

    margin-bottom: 1.5rem;
  }
}

