@import "../../variable.scss";

.home {
  .header {
    font-size: 2.25em;
    color: #000;
    font-family: $primary-font;
  }

  .subheader {
    font-size: 1.5em;
    font-family: $primary-font;
  }
}