@import "../../variable.scss";

.logo {
  font-family: $circular-std;
  color: #E9F3FF;
  letter-spacing: 1.4px;
  margin: 0;
}

.center {
  text-align: center;
}

.md {
  font-size: 18px;
}

.sm {
  font-size: 14px;
}