@import "../../variable.scss";

.logo {
  font-family: $poppins;
  color: #E9F3FF;
  letter-spacing: 1.4px;
  margin: 0;

  a {
    color: #E9F3FF;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.md {
  font-size: 18px;
}

.sm {
  font-size: 14px;
}
