@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./variable.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

html {
  height: 100%
}

body {
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

#root {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/pointer-3906a.appspot.com/o/public%2Fimages%2Fimage.png?alt=media');
  min-height: 100vh;
}

div {
  box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  border: none;
  color: #fff;
  padding: 15px 16px 18px 16px;
  border-radius: 2px;
  line-height: 19px;
  font-size: 1em;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  cursor: pointer;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
    inset 0 -0.25em 0 rgba(0,0,0,.25),
    0 0.25em 0.25em rgba(0,0,0,.05);

  &:active, &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2),
      inset 0 2px 0 hsla(0,0%,100%,.1),
      inset 0 0.25em 0.5em rgba(0,0,0,.05);
    transform: translateY(0.15em);
  }
}

.btn.btn-success {
  background-color: #24BC45;
  color: #fff;
}

.btn.btn-danger {
  color: #272727;
  background-color: #D25A40;
}

.btn.btn-sm {
  width: fit-content;
  padding: 8px 8px 11px 8px;
  font-size: 0.875em;
}

.btn.btn-xs {
  width: fit-content;
  padding: 4px 8px;
}
